:root {
    --white: white;
    --black: black;
  }
  
  .w-layout-grid {
    grid-row-gap: 16px;
    grid-column-gap: 16px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }
  
  .w-layout-blockcontainer {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  
  @media screen and (max-width: 991px) {
    .w-layout-blockcontainer {
        max-width: 100%; /* Ajuste conforme necessário */
    }
  }

  @media screen and (max-width: 767px) {
    .w-col {
        flex: 0 0 100%; /* Colunas ocupam 100% da largura em telas pequenas */
    }
  }
  
  body {
    color: #1a1b1f;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
  }
  
  h1 {
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 44px;
    font-weight: 400;
    line-height: 62px;
  }
  
  h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 36px;
    font-weight: 400;
    line-height: 50px;
  }
  
  h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 400;
    line-height: 46px;
  }
  
  h4 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 400;
    line-height: 38px;
  }
  
  h5 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
    line-height: 34px;
  }
  
  h6 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
  }
  
  p {
    margin-bottom: 10px;
  }
  
  a {
    color: #1a1b1f;
    text-decoration: underline;
    transition: opacity .2s;
    display: block;
  }
  
  a:hover {
    color: #32343a;
  }
  
  a:active {
    color: #43464d;
  }
  
  ul {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 40px;
    list-style-type: disc;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  img {
    display: block;
  }
  
  label {
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
  }
  
  blockquote {
    border-left: 5px solid #e2e2e2;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 15px 30px;
    font-size: 20px;
    line-height: 34px;
  }
  
  figure {
    margin-top: 25px;
    padding-bottom: 20px;
  }
  
  figcaption {
    opacity: .6;
    text-align: center;
    margin-top: 5px;
    font-size: 14px;
    line-height: 26px;
  }
  
  .heading-jumbo-small {
    text-transform: none;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 36px;
    font-weight: 400;
    line-height: 50px;
  }
  
  .styleguide-block {
    text-align: left;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 80px;
    display: block;
  }
  
  .heading-jumbo-tiny {
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
  }
  
  .rich-text {
    width: 70%;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .rich-text p {
    opacity: .6;
    margin-top: 15px;
    margin-bottom: 25px;
  }
  
  .container {
    background-color: #e9e9e9;
    width: 100%;
    max-width: 1140px;
    max-height: 400px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 220px;
  }
  
  .styleguide-content-wrap {
    text-align: center;
  }
  
  .paragraph-small {
    font-size: 14px;
    line-height: 26px;
  }
  
  .styleguide-header-wrap {
    color: #fff;
    text-align: center;
    background-color: #1a1b1f;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 460px;
    padding: 30px;
    display: flex;
  }
  
  .styleguide-button-wrap {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .heading-jumbo {
    text-transform: none;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 64px;
    line-height: 80px;
  }
  
  .paragraph-tiny {
    font-size: 12px;
    line-height: 20px;
  }
  
  .paragraph-tiny.cc-paragraph-tiny-light {
    opacity: .7;
  }
  
  .label {
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
  }
  
  .label.cc-styleguide-label {
    margin-bottom: 25px;
  }
  
  .label.cc-speaking-label {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .label.cc-about-light {
    opacity: .6;
  }
  
  .paragraph-light {
    box-sizing: border-box;
    aspect-ratio: auto;
    opacity: .6;
    letter-spacing: normal;
    word-break: normal;
    vertical-align: middle;
    min-width: 700px;
    margin: 10px 0 10px 20px;
    padding-right: 40px;
    display: inline-block;
    position: static;
  }
  
  .paragraph-light.cc-position-name {
    margin-bottom: 5px;
  }
  
  .section-1 {
    background-color: #e9e9e9;
    margin: -75px 0 60px;
  }
  
  .section-1.cc-contact {
    background-color: #f4f4f4;
    padding-left: 80px;
    padding-right: 80px;
  }
  
  .button {
    color: #fff;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: #1a1b1f;
    border-radius: 0;
    padding: 12px 25px;
    font-size: 12px;
    line-height: 20px;
    text-decoration: none;
    transition: background-color .4s, opacity .4s, color .4s;
  }
  
  .button:hover {
    color: #fff;
    background-color: #32343a;
  }
  
  .button:active {
    background-color: #43464d;
  }
  
  .button.cc-jumbo-button {
    padding: 16px 35px;
    font-size: 14px;
    line-height: 26px;
  }
  
  .button.cc-white-button {
    color: #202020;
    background-color: #fff;
    padding: 16px 35px;
    font-size: 14px;
    line-height: 26px;
  }
  
  .button.cc-white-button:hover {
    background-color: #fffc;
  }
  
  .button.cc-white-button:active {
    background-color: #ffffffe6;
  }
  
  .paragraph-bigger {
    opacity: 1;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 400;
    line-height: 34px;
  }
  
  .paragraph-bigger.cc-bigger-light {
    opacity: .6;
  }
  
  .divider {
    background-color: #eee;
    height: 1px;
  }
  
  .logo-link {
    z-index: 1;
  }
  
  .logo-link:hover {
    opacity: .8;
  }
  
  .logo-link:active {
    opacity: .7;
  }
  
  .navigation-item {
    opacity: .6;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding-top: 9px;
    padding-bottom: 9px;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
  }
  
  .navigation-item:hover {
    opacity: .9;
  }
  
  .navigation-item:active {
    opacity: .8;
  }
  
  .navigation-item.w--current {
    opacity: 1;
    color: #1a1b1f;
    font-weight: 600;
  }
  
  .navigation-item.w--current:hover {
    opacity: .8;
    color: #32343a;
  }
  
  .navigation-item.w--current:active {
    opacity: .7;
    color: #32343a;
  }
  
  .navigation-items {
    flex: 1;
    justify-content: space-between;
    align-items: center;
    display: flex;
  }
  
  .navigation {
    background-color: #f4f4f4;
    align-items: center;
    padding: 30px 50px;
    display: flex;
  }
  
  .logo-image {
    display: block;
  }
  
  .navigation-wrap {
    align-items: center;
    margin-right: -20px;
    display: flex;
  }
  
  .intro-wrap {
    margin-top: 100px;
    margin-bottom: 0;
    padding-bottom: 250px;
  }
  
  .name-text {
    font-size: 20px;
    font-weight: 400;
    line-height: 34px;
  }
  
  .position-name-text {
    text-transform: none;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 400;
    line-height: 34px;
  }
  
  .work-description {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 60px;
    display: flex;
  }
  
  .work-experience-grid {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    grid-template: ". . . ."
    / 1fr 1fr 1fr 1fr;
    margin-bottom: 140px;
  }
  
  .works-grid {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    grid-template: ". . ."
                   ". . ."
                   ". . ."
                   / 1.5fr 1fr 1.5fr;
    margin-bottom: 80px;
  }
  
  .carrer-headline-wrap {
    width: 70%;
    margin-bottom: 50px;
  }
  
  .work-image {
    text-align: center;
    background-color: #f4f4f4;
    background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
    background-position: 50%;
    background-size: cover;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    height: 460px;
    margin-bottom: 40px;
    text-decoration: none;
    display: flex;
  }
  
  .work-image:hover {
    opacity: .8;
  }
  
  .work-image:active {
    opacity: .7;
  }
  
  .work-image.cc-work-1 {
    background-image: url('../images/portfolio-1-wide.png');
    background-size: cover;
  }
  
  .work-image.cc-work-2 {
    background-image: url('../images/portfolio-2-wide.png');
    background-size: cover;
  }
  
  .work-image.cc-work-4 {
    background-image: url('../images/portfolio-3-wide.png');
    background-size: cover;
  }
  
  .work-image.cc-work-3 {
    background-image: url('../images/portfolio-4-wide.png');
    background-size: cover;
  }
  
  .project-name-link {
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 400;
    line-height: 34px;
    text-decoration: none;
  }
  
  .project-name-link:hover {
    opacity: .8;
  }
  
  .project-name-link:active {
    opacity: .7;
  }
  
  .text-field {
    border: 1px solid #e4e4e4;
    border-radius: 0;
    margin-bottom: 18px;
    padding: 21px 20px;
    font-size: 14px;
    line-height: 26px;
    transition: border-color .4s;
  }
  
  .text-field:hover {
    border-color: #e3e6eb;
  }
  
  .text-field:active, .text-field:focus {
    border-color: #43464d;
  }
  
  .text-field::placeholder {
    color: #32343a66;
  }
  
  .text-field.cc-textarea {
    height: 200px;
    padding-top: 12px;
  }
  
  .status-message {
    color: #fff;
    text-align: center;
    background-color: #202020;
    padding: 9px 30px;
    font-size: 14px;
    line-height: 26px;
  }
  
  .status-message.cc-success-message {
    background-color: #12b878;
  }
  
  .status-message.cc-error-message {
    background-color: #db4b68;
  }
  
  .contact {
    padding-top: 80px;
    padding-bottom: 90px;
  }
  
  .contact-headline {
    width: 70%;
    margin-bottom: 40px;
  }
  
  .contact-form-grid {
    grid-column-gap: 30px;
    grid-row-gap: 10px;
  }
  
  .contact-form-wrap {
    width: 70%;
  }
  
  .footer-wrap {
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    padding: 40px 50px;
    display: flex;
  }
  
  .webflow-link {
    opacity: .5;
    text-transform: uppercase;
    align-items: center;
    text-decoration: none;
    transition: opacity .4s;
    display: flex;
  }
  
  .webflow-link:hover {
    opacity: 1;
  }
  
  .webflow-link:active {
    opacity: .8;
  }
  
  .webflow-logo-tiny {
    margin-top: -2px;
    margin-right: 8px;
  }
  
  .footer-links {
    align-items: center;
    margin-right: -20px;
    display: flex;
  }
  
  .footer-item {
    opacity: .6;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 12px;
    line-height: 20px;
    text-decoration: none;
  }
  
  .footer-item:hover {
    opacity: .9;
  }
  
  .footer-item:active {
    opacity: .8;
  }
  
  .about-intro-grid {
    grid-column-gap: 80px;
    grid-row-gap: 30px;
    grid-template: ". ."
    / 1fr 2fr;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 140px;
  }
  
  .hi-there-heading {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  .service-name-text {
    opacity: .6;
    margin-bottom: 10px;
    font-size: 30px;
    line-height: 46px;
  }
  
  .skillset-wrap {
    padding-right: 60px;
  }
  
  .reference-link {
    opacity: .6;
    font-size: 14px;
    line-height: 26px;
    text-decoration: none;
  }
  
  .reference-link:hover {
    opacity: 1;
  }
  
  .reference-link:active {
    opacity: .9;
  }
  
  .featured-item-wrap {
    margin-bottom: 25px;
  }
  
  .services-items-grid {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    grid-template-rows: auto;
    grid-template-areas: ". .";
    padding-top: 10px;
  }
  
  .skills-grid {
    grid-column-gap: 80px;
    grid-row-gap: 30px;
    grid-template: ". ."
    / 1fr 1fr;
    margin-bottom: 140px;
  }
  
  .personal-features-grid {
    grid-column-gap: 80px;
    grid-row-gap: 20px;
    grid-template-rows: auto auto;
    grid-template-areas: ". ."
                         ". .";
    margin-bottom: 110px;
  }
  
  .speaking-text {
    margin-right: 8px;
    display: inline-block;
  }
  
  .speaking-text.cc-past-speaking {
    opacity: .6;
  }
  
  .speaking-detail {
    opacity: .6;
    display: inline-block;
  }
  
  .upcoming-wrap {
    margin-bottom: 40px;
  }
  
  .social-media-heading {
    margin-bottom: 60px;
  }
  
  .social-media-grid {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: ". . . ."
                         ". . . .";
    margin-bottom: 30px;
  }
  
  .project-overview-grid {
    grid-column-gap: 50px;
    grid-row-gap: 100px;
    grid-template: ". . . ."
                   ". . . ."
                   / 1fr 1fr 1fr 1fr;
    margin-top: 120px;
    margin-bottom: 135px;
  }
  
  .detail-header-image {
    width: 100%;
  }
  
  .project-description-grid {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    grid-template: ". ."
    / 1fr 2.5fr;
    margin-top: 120px;
    margin-bottom: 120px;
  }
  
  .detail-image {
    width: 100%;
    margin-bottom: 30px;
  }
  
  .email-section {
    text-align: center;
    width: 70%;
    margin: 140px auto 200px;
  }
  
  .email-link {
    text-transform: none;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 64px;
    font-weight: 400;
    line-height: 88px;
    text-decoration: none;
  }
  
  .email-link:hover {
    opacity: .8;
  }
  
  .email-link:active {
    opacity: .7;
  }
  
  .utility-page-wrap {
    color: #fff;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    max-height: 100%;
    padding: 30px;
    display: flex;
  }
  
  ._404-wrap {
    background-color: #1a1b1f;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 30px;
    display: flex;
  }
  
  ._404-content-wrap {
    margin-bottom: 20px;
  }
  
  .protected-wrap {
    text-align: center;
    justify-content: center;
    padding-top: 90px;
    padding-bottom: 100px;
    display: flex;
  }
  
  .protected-form {
    flex-direction: column;
    display: flex;
  }
  
  .protected-heading {
    margin-bottom: 30px;
  }
  
  .grid {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    object-fit: fill;
    grid-template-rows: repeat(auto-fit, 200px);
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "Area";
    grid-auto-columns: 2fr;
    justify-content: stretch;
    place-items: center;
    width: auto;
    margin-top: -60px;
    padding-top: 0;
    padding-left: 60px;
    padding-right: 59px;
    position: static;
  }
  
  .heading {
    box-sizing: border-box;
    float: none;
    aspect-ratio: auto;
    text-align: center;
    object-fit: fill;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    padding-bottom: 50px;
    padding-left: 0;
    font-size: 55px;
    display: block;
    position: static;
  }
  
  .text-block {
    aspect-ratio: auto;
    text-align: center;
    padding: 10px 0 20px;
  }
  
  .section-1-1 {
    padding-left: 200px;
    padding-right: 200px;
  }
  
  .grid-2 {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
  }
  
  .section-2 {
    margin-left: 0;
    margin-right: 0;
  }
  
  .container-2 {
    background-color: #e9e9e9;
    max-width: 1140px;
    max-height: 2000px;
    margin-bottom: 150px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .grid-3 {
    object-fit: none;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
    place-items: center start;
  }
  
  .gridproject {
    grid-row-gap: 16px;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
    place-items: start center;
    max-width: 600px;
    padding-bottom: 0;
  }
  
  .projectgrid {
    grid-row-gap: 10px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    max-height: 250px;
  }
  
  .projectctext {
    max-width: 450px;
    max-height: 250px;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 230px;
    padding-left: 20px;
    padding-right: 40px;
  }
  
  .container-4, .container-5 {
    padding-bottom: 230px;
  }
  
  .heading-2 {
    margin-top: 0;
    margin-bottom: 60px;
    padding-top: 20px;
    padding-left: 19px;
  }
  
  .columns {
    padding-right: 0;
  }
  
  .grid-6 {
    grid-column-gap: 0px;
    grid-row-gap: 6px;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: .25fr .5fr;
    align-content: space-between;
    place-items: center start;
    margin: 245px 10px 255px;
    padding-bottom: 0;
  }
  
  .image {
    padding-right: 0;
  }
  
  .column {
    min-height: 675px;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .section-3 {
    background-color: #e9e9e9;
  }
  
  .container3 {
    background-color: #e9e9e9;
    width: 100%;
    max-width: 1140px;
    max-height: 900px;
    margin: -100px auto 100px;
    padding-bottom: 1px;
  }
  
  .heading-3 {
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 40px;
    padding-top: 0;
  }
  
  .image-2, .image-3 {
    margin-left: 10px;
  }
  
  .projectimg {
    margin-left: 15px;
    height: 150;
    width: 300;
    padding-left: 0;
  }
  
  .text-block-2 {
    margin-left: 20px;
    padding-left: 0;
  }
  
  .projectname {
    margin-left: 20px;
    padding-top: 0;
  }
  
  .text-block-4 {
    margin-left: 20px;
  }
  
  .culunaprojeto {
    max-height: 2000px;
    padding-left: 20px;
  }
  
  .body {
    background-color: #2e2c2c;
    margin-top: 0;
  }
  
  .backboard {
    aspect-ratio: auto;
    object-fit: fill;
    background-color: #474040;
    max-width: 1300px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2px;
    padding-bottom: 24px;
    position: static;
  }
  
  .frontboard {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    aspect-ratio: auto;
    mix-blend-mode: normal;
    object-fit: fill;
    background-color: #f4f4f4;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    max-width: 1140px;
    margin: 75px auto 0;
    padding: 20px 40px 40px;
    display: block;
    position: ab;
    left: auto;
    right: auto;
  }
  
  .column-2 {
    padding-right: 0;
  }
  
  .section-4 {
    background-color: #e9e9e9;
  }
  
  .headingempresas {
    margin-top: 0;
    padding-top: 20px;
    padding-left: 20px;
  }
  
  .gridempresas {
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
  }
  
  .image-4 {
    padding: 10px;
  }
  
  .image-5 {
    padding-top: 10px;
    padding-left: 10px;
  }
  
  .empresas {
    outline-offset: 0px;
    pointer-events: auto;
    cursor: auto;
    outline: 3px #1a1b1f;
    padding: 10px;
  }
  
  .image-6 {
    padding: 10px;
  }
  
  .colunasmepresas {
    border: 1px #000;
    border-radius: 0;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .divemp {
    padding: 20px;
  }
  
  .colunemp {
    background-color: #d3cece;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
  }
  
  @media screen and (max-width: 991px) {
    .styleguide-block {
      text-align: center;
    }
  
    .heading-jumbo {
      font-size: 56px;
      line-height: 70px;
    }
  
    .section-1.cc-contact {
      padding-left: 0;
      padding-right: 0;
    }
  
    .button {
      justify-content: center;
    }
  
    .logo-link.w--current {
      flex: 1;
    }
  
    .menu-icon {
      display: block;
    }
  
    .navigation-item {
      text-align: center;
      padding: 15px 30px;
      transition: background-color .4s, opacity .4s, color .4s;
    }
  
    .navigation-item:hover {
      background-color: #f7f8f9;
    }
  
    .navigation-item:active {
      background-color: #eef0f3;
    }
  
    .navigation-items {
      background-color: #fff;
    }
  
    .navigation {
      padding: 25px 30px;
    }
  
    .menu-button {
      padding: 0;
    }
  
    .menu-button.w--open {
      background-color: #0000;
    }
  
    .navigation-wrap {
      margin-right: 0;
    }
  
    .work-experience-grid {
      grid-template: ". ."
                     ". ."
                     / 1fr 1fr;
    }
  
    .works-grid {
      flex-direction: column;
      align-items: stretch;
      display: flex;
    }
  
    .carrer-headline-wrap {
      width: auto;
    }
  
    .work-image {
      margin-bottom: 30px;
    }
  
    .contact {
      width: auto;
      padding: 30px 50px 40px;
    }
  
    .contact-headline, .contact-form-wrap {
      width: 100%;
    }
  
    .about-intro-grid {
      grid-row-gap: 50px;
      text-align: center;
      grid-template: "."
                     "."
                     / 1fr;
    }
  
    .about-head-text-wrap {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
  
    .service-name-text {
      font-size: 24px;
      line-height: 42px;
    }
  
    .skillset-wrap {
      padding-right: 0;
    }
  
    .services-items-grid {
      grid-row-gap: 0px;
      grid-template: "."
                     "."
                     / 1fr;
      padding-top: 0;
    }
  
    .skills-grid {
      grid-row-gap: 50px;
      text-align: center;
      grid-template: "."
                     "."
                     / 1fr;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
  
    .personal-features-grid {
      text-align: center;
      grid-template: "."
                     "."
                     "."
                     "."
                     / 1fr;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
  
    .social-media-heading {
      text-align: center;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
  
    .social-media-grid {
      grid-template: ". ."
                     ". ."
                     ". ."
                     ". ."
                     / 1fr 1fr;
    }
  
    .project-overview-grid {
      grid-row-gap: 50px;
      text-align: center;
      grid-template: "."
                     "."
                     "."
                     / 1fr;
      width: 70%;
      margin-left: auto;
      margin-right: auto;
    }
  
    .project-description-grid {
      grid-row-gap: 50px;
      text-align: center;
      grid-template: "."
                     "."
                     / 1fr;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
  
    .email-section {
      margin-bottom: 160px;
    }
  
    .email-link {
      font-size: 36px;
      line-height: 54px;
    }
  }
  
  @media screen and (max-width: 767px) {
    .heading-jumbo-small {
      font-size: 30px;
      line-height: 52px;
    }
  
    .rich-text {
      text-align: left;
      width: 90%;
      max-width: 470px;
    }
  
    .container {
      text-align: center;
    }
  
    .heading-jumbo {
      font-size: 50px;
      line-height: 64px;
    }
  
    .section-1 {
      margin-left: 15px;
      margin-right: 15px;
    }
  
    .section-1.cc-contact {
      padding: 15px;
    }
  
    .paragraph-bigger {
      font-size: 16px;
      line-height: 28px;
    }
  
    .logo-link {
      padding-left: 0;
    }
  
    .navigation {
      padding: 20px 30px;
    }
  
    .work-experience-grid {
      flex-direction: column;
      align-items: center;
      display: flex;
    }
  
    .work-position-wrap {
      margin-bottom: 40px;
    }
  
    .project-name-link {
      font-size: 16px;
      line-height: 28px;
    }
  
    .text-field.cc-textarea {
      text-align: left;
    }
  
    .contact {
      padding-left: 30px;
      padding-right: 30px;
    }
  
    .contact-form-grid {
      grid-column-gap: 30px;
      grid-template: "."
                     "."
                     "."
                     / 1fr;
    }
  
    .contact-form {
      flex-direction: column;
      display: flex;
    }
  
    .contact-form-wrap {
      text-align: left;
    }
  
    .footer-wrap {
      text-align: center;
      flex-direction: column;
    }
  
    .webflow-link {
      margin-bottom: 15px;
    }
  
    .footer-links {
      flex-direction: column;
    }
  
    .footer-item {
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: 0;
    }
  
    .about-head-text-wrap {
      width: 70%;
      max-width: 470px;
    }
  
    .skills-grid {
      grid-template-columns: 1fr;
      width: 70%;
      max-width: 470px;
    }
  
    .personal-features-grid, .social-media-heading {
      width: 70%;
      max-width: 470px;
    }
  
    .social-media-grid {
      grid-column-gap: 15px;
      grid-row-gap: 15px;
      grid-template-columns: 1fr 1fr;
    }
  
    .project-overview-grid {
      width: 80%;
      max-width: 470px;
      margin-top: 90px;
      margin-bottom: 95px;
    }
  
    .project-description-grid {
      width: 70%;
      max-width: 470px;
      margin-top: 90px;
      margin-bottom: 85px;
    }
  
    .detail-image {
      margin-bottom: 15px;
    }
  
    .email-section {
      width: 80%;
      max-width: 470px;
      margin-top: 120px;
      margin-bottom: 120px;
    }
  
    .email-link {
      font-size: 36px;
      line-height: 54px;
    }
  
    .utility-page-wrap {
      padding: 15px;
    }
  
    ._404-wrap {
      padding: 30px;
    }
  
    .container3 {
      text-align: center;
    }
  }
  
  @media screen and (max-width: 479px) {
    .rich-text {
      width: 100%;
      max-width: none;
    }
  
    .heading-jumbo {
      font-size: 36px;
      line-height: 48px;
    }
  
    .navigation {
      position: fixed; /* Faz com que a navegação fique fixada na tela */
      top: 0; /* Posiciona a navegação no topo da tela */
      left: 0; /* Alinha a navegação à esquerda da tela */
      width: 100%; /* Faz com que a navegação ocupe toda a largura da tela */
      padding-left: 20px;
      padding-right: 20px;
      z-index: 9999; /* Garante que a navegação fique acima de outros elementos */
      background-color: white; /* Adiciona uma cor de fundo para garantir que o texto fique legível */
    }
  
    .menu-button, .menu-button.w--open {
      flex: none;
    }
  
    .contact {
      padding-left: 15px;
      padding-right: 15px;
    }
  
    .contact-form, .contact-form-wrap, .footer-wrap {
      flex-direction: column;
    }
  
    .about-head-text-wrap {
      width: 100%;
      max-width: none;
    }
  
    .skills-grid {
      grid-template-columns: 1fr;
      width: 100%;
      max-width: none;
    }
  
    .personal-features-grid, .social-media-heading, .project-overview-grid, .project-description-grid {
      width: 100%;
      max-width: none;
    }
  
    .email-section {
      flex-direction: column;
      align-items: center;
      width: 100%;
      max-width: none;
      display: flex;
    }
  
    .email-link {
      font-size: 30px;
      line-height: 46px;
    }
  }
  
  #w-node-f8256814-22d0-e2aa-5401-b2b2430e780a-4bf4546b {
    grid-area: Area;
  }
  
  #w-node-_6e4d20d6-7153-62f0-420a-31119cd3b72f-4bf4546b, #w-node-_5472e889-89a8-c699-d892-080569bb2cf0-4bf4546b, #w-node-_453e64a9-61ac-4c48-391c-66b66e4fffbd-4bf4546b, #w-node-_541564e2-8435-23f7-a76b-1f652d5cb53a-4bf4546b {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }
  
  #w-node-_9b2922ad-09b1-aebb-0430-7dee623c62c1-4bf4546f {
    grid-area: 1 / 1 / 2 / 2;
  }
  
  #w-node-_9b2922ad-09b1-aebb-0430-7dee623c62c8-4bf4546f {
    grid-area: 1 / 2 / 2 / 3;
  }
  
  #w-node-dac044b7-be90-60f3-414d-4224828ffd8a-4bf4546f {
    grid-area: 1 / 1 / 2 / 2;
  }
  
  #w-node-dac044b7-be90-60f3-414d-4224828ffd8f-4bf4546f {
    grid-area: 1 / 2 / 2 / 3;
  }
  
  #w-node-dac044b7-be90-60f3-414d-4224828ffd90-4bf4546f {
    grid-area: 1 / 1 / 2 / 2;
  }
  
  #w-node-dac044b7-be90-60f3-414d-4224828ffd99-4bf4546f {
    grid-area: 1 / 2 / 2 / 3;
  }
  
  #w-node-dac044b7-be90-60f3-414d-4224828ffda1-4bf4546f {
    grid-area: 1 / 1 / 2 / 2;
  }
  
  #w-node-dac044b7-be90-60f3-414d-4224828ffda6-4bf4546f {
    grid-area: 2 / 1 / 3 / 2;
  }
  
  #w-node-dac044b7-be90-60f3-414d-4224828ffdd8-4bf4546f {
    grid-area: 2 / 2 / 3 / 3;
  }
  
  #w-node-dac044b7-be90-60f3-414d-4224828ffe12-4bf4546f {
    grid-area: 1 / 2 / 2 / 3;
  }
  
  #w-node-_76ba38e4-2715-c796-e82b-8239d41d1e9d-4bf4546f, #w-node-_76ba38e4-2715-c796-e82b-8239d41d1e9d-4bf4546f:active {
    grid-area: 1 / 1 / 2 / 2;
  }
  
  #w-node-_76ba38e4-2715-c796-e82b-8239d41d1e9e-4bf4546f {
    grid-area: 2 / 2 / 3 / 3;
  }
  
  #w-node-_76ba38e4-2715-c796-e82b-8239d41d1e9f-4bf4546f {
    grid-area: 1 / 2 / 2 / 3;
  }
  
  #w-node-_76ba38e4-2715-c796-e82b-8239d41d1ea0-4bf4546f {
    grid-area: 2 / 1 / 3 / 2;
  }
  
  #w-node-_76ba38e4-2715-c796-e82b-8239d41d1ea1-4bf4546f {
    grid-area: 1 / 3 / 2 / 4;
  }
  
  #w-node-_76ba38e4-2715-c796-e82b-8239d41d1ea2-4bf4546f {
    grid-area: 1 / 4 / 2 / 5;
  }
  
  #w-node-_76ba38e4-2715-c796-e82b-8239d41d1ea3-4bf4546f {
    grid-area: 2 / 3 / 3 / 4;
  }
  
  #w-node-_76ba38e4-2715-c796-e82b-8239d41d1ea4-4bf4546f {
    grid-area: 2 / 4 / 3 / 5;
  }
  
  #w-node-d783a17e-0b35-a13a-0448-a852d0df4a32-d0df4a24 {
    grid-area: 1 / 1 / 2 / 2;
  }
  
  #w-node-d783a17e-0b35-a13a-0448-a852d0df4a36-d0df4a24 {
    grid-area: 1 / 2 / 2 / 3;
  }
  
  #w-node-d783a17e-0b35-a13a-0448-a852d0df4a3a-d0df4a24 {
    grid-area: 2 / 1 / 3 / 3;
  }
  
  #w-node-_0befc76b-828c-2822-f9fa-f2c6de040bbf-4bf45471 {
    grid-area: 1 / 1 / 2 / 4;
  }
  
  #w-node-_0befc76b-828c-2822-f9fa-f2c6de040bc4-4bf45471 {
    grid-area: 2 / 1 / 3 / 3;
  }
  
  #w-node-_0befc76b-828c-2822-f9fa-f2c6de040bc9-4bf45471 {
    grid-area: 2 / 3 / 3 / 5;
  }
  
  #w-node-b915ad84-715b-fc9d-8156-ee63d52fd223-4bf45471 {
    grid-area: 1 / 1 / 2 / 2;
  }
  
  #w-node-b915ad84-715b-fc9d-8156-ee63d52fd22b-4bf45471 {
    grid-area: 1 / 2 / 2 / 3;
  }
  
  #w-node-_0befc76b-828c-2822-f9fa-f2c6de040bbf-4bf45472 {
    grid-area: 1 / 1 / 2 / 4;
  }
  
  #w-node-_0befc76b-828c-2822-f9fa-f2c6de040bc4-4bf45472 {
    grid-area: 2 / 1 / 3 / 3;
  }
  
  #w-node-_0befc76b-828c-2822-f9fa-f2c6de040bc9-4bf45472 {
    grid-area: 2 / 3 / 3 / 5;
  }
  
  #w-node-b915ad84-715b-fc9d-8156-ee63d52fd22b-4bf45472 {
    grid-area: 1 / 2 / 2 / 3;
  }
  
  #w-node-_9fda4a37-cb21-e2a1-58de-88a206fa61ae-4bf45472 {
    grid-area: 1 / 1 / 2 / 2;
  }
  
  #w-node-_0befc76b-828c-2822-f9fa-f2c6de040bbf-4bf45473 {
    grid-area: 1 / 1 / 2 / 4;
  }
  
  #w-node-_0befc76b-828c-2822-f9fa-f2c6de040bc4-4bf45473 {
    grid-area: 2 / 1 / 3 / 3;
  }
  
  #w-node-_0befc76b-828c-2822-f9fa-f2c6de040bc9-4bf45473 {
    grid-area: 2 / 3 / 3 / 5;
  }
  
  #w-node-b915ad84-715b-fc9d-8156-ee63d52fd22b-4bf45473 {
    grid-area: 1 / 2 / 2 / 3;
  }
  
  #w-node-_32040423-4078-1b23-6771-e6c78f8a716d-4bf45473 {
    grid-area: 1 / 1 / 2 / 2;
  }
  
  #w-node-_0befc76b-828c-2822-f9fa-f2c6de040bbf-4bf45474 {
    grid-area: 1 / 1 / 2 / 4;
  }
  
  #w-node-_0befc76b-828c-2822-f9fa-f2c6de040bc4-4bf45474 {
    grid-area: 2 / 1 / 3 / 3;
  }
  
  #w-node-_0befc76b-828c-2822-f9fa-f2c6de040bc9-4bf45474 {
    grid-area: 2 / 3 / 3 / 5;
  }
  
  #w-node-b915ad84-715b-fc9d-8156-ee63d52fd22b-4bf45474 {
    grid-area: 1 / 2 / 2 / 3;
  }
  
  #w-node-_1f85730f-9889-a71b-9be8-c086a8d10760-4bf45474 {
    grid-area: 1 / 1 / 2 / 2;
  }
  
  @media screen and (max-width: 991px) {
    #w-node-_9b2922ad-09b1-aebb-0430-7dee623c62c8-4bf4546f, #w-node-dac044b7-be90-60f3-414d-4224828ffd8f-4bf4546f, #w-node-dac044b7-be90-60f3-414d-4224828ffd99-4bf4546f {
      grid-area: 2 / 1 / 3 / 2;
    }
  
    #w-node-dac044b7-be90-60f3-414d-4224828ffdd8-4bf4546f {
      grid-area: 4 / 1 / 5 / 2;
    }
  
    #w-node-dac044b7-be90-60f3-414d-4224828ffe12-4bf4546f {
      grid-area: 3 / 1 / 4 / 2;
    }
  
    #w-node-_76ba38e4-2715-c796-e82b-8239d41d1e9e-4bf4546f {
      grid-area: 3 / 2 / 4 / 3;
    }
  
    #w-node-_76ba38e4-2715-c796-e82b-8239d41d1ea0-4bf4546f {
      grid-area: 3 / 1 / 4 / 2;
    }
  
    #w-node-_76ba38e4-2715-c796-e82b-8239d41d1ea1-4bf4546f {
      grid-area: 2 / 1 / 3 / 2;
    }
  
    #w-node-_76ba38e4-2715-c796-e82b-8239d41d1ea2-4bf4546f {
      grid-area: 2 / 2 / 3 / 3;
    }
  
    #w-node-_76ba38e4-2715-c796-e82b-8239d41d1ea3-4bf4546f {
      grid-area: 4 / 1 / 5 / 2;
    }
  
    #w-node-_76ba38e4-2715-c796-e82b-8239d41d1ea4-4bf4546f {
      grid-area: 4 / 2 / 5 / 3;
    }
  
    #w-node-_0befc76b-828c-2822-f9fa-f2c6de040bbf-4bf45471 {
      grid-area: 1 / 1 / 2 / 2;
    }
  
    #w-node-_0befc76b-828c-2822-f9fa-f2c6de040bc4-4bf45471 {
      grid-column-end: 2;
    }
  
    #w-node-_0befc76b-828c-2822-f9fa-f2c6de040bc9-4bf45471 {
      grid-area: 3 / 1 / 4 / 2;
    }
  
    #w-node-b915ad84-715b-fc9d-8156-ee63d52fd22b-4bf45471 {
      grid-area: 2 / 1 / 3 / 2;
    }
  
    #w-node-_0befc76b-828c-2822-f9fa-f2c6de040bbf-4bf45472 {
      grid-area: 1 / 1 / 2 / 2;
    }
  
    #w-node-_0befc76b-828c-2822-f9fa-f2c6de040bc4-4bf45472 {
      grid-column-end: 2;
    }
  
    #w-node-_0befc76b-828c-2822-f9fa-f2c6de040bc9-4bf45472 {
      grid-area: 3 / 1 / 4 / 2;
    }
  
    #w-node-b915ad84-715b-fc9d-8156-ee63d52fd22b-4bf45472 {
      grid-area: 2 / 1 / 3 / 2;
    }
  
    #w-node-_0befc76b-828c-2822-f9fa-f2c6de040bbf-4bf45473 {
      grid-area: 1 / 1 / 2 / 2;
    }
  
    #w-node-_0befc76b-828c-2822-f9fa-f2c6de040bc4-4bf45473 {
      grid-column-end: 2;
    }
  
    #w-node-_0befc76b-828c-2822-f9fa-f2c6de040bc9-4bf45473 {
      grid-area: 3 / 1 / 4 / 2;
    }
  
    #w-node-b915ad84-715b-fc9d-8156-ee63d52fd22b-4bf45473 {
      grid-area: 2 / 1 / 3 / 2;
    }
  
    #w-node-_32040423-4078-1b23-6771-e6c78f8a716d-4bf45473, #w-node-_0befc76b-828c-2822-f9fa-f2c6de040bbf-4bf45474 {
      grid-area: 1 / 1 / 2 / 2;
    }
  
    #w-node-_0befc76b-828c-2822-f9fa-f2c6de040bc4-4bf45474 {
      grid-column-end: 2;
    }
  
    #w-node-_0befc76b-828c-2822-f9fa-f2c6de040bc9-4bf45474 {
      grid-area: 3 / 1 / 4 / 2;
    }
  
    #w-node-b915ad84-715b-fc9d-8156-ee63d52fd22b-4bf45474 {
      grid-area: 2 / 1 / 3 / 2;
    }
  
    #w-node-_1f85730f-9889-a71b-9be8-c086a8d10760-4bf45474 {
      grid-area: 1 / 1 / 2 / 2;
    }
  }
  
  @media screen and (max-width: 767px) {
    #w-node-d783a17e-0b35-a13a-0448-a852d0df4a36-d0df4a24 {
      grid-area: 2 / 1 / 3 / 2;
    }
  
    #w-node-d783a17e-0b35-a13a-0448-a852d0df4a3a-d0df4a24 {
      grid-area: 3 / 1 / 4 / 2;
    }
  }

  /* Define o contêiner da linha */
.w-row {
    display: flex;
    flex-wrap: wrap; /* Permite que as colunas se movam para a linha seguinte se necessário */
    margin: 0 -15px; /* Ajusta o espaçamento entre as colunas */
}

/* Define a coluna */
.w-col {
    flex: 1;
    padding: 0 15px; /* Espaçamento interno para as colunas */
    box-sizing: border-box; /* Inclui padding e border no cálculo da largura total */
}

/* Define a coluna com largura específica */
.w-col-5 {
    flex: 0 0 41.6667%; /* Largura de 5/12 do contêiner */
}

.w-col-7 {
    flex: 0 0 58.3333%; /* Largura de 7/12 do contêiner */
}

/* Exemplo de ajuste para telas menores */
@media (max-width: 768px) {
    .w-col {
        flex: 0 0 100%; /* Colunas ocupam 100% da largura em telas menores */
    }
}

/* Largura específica das colunas para garantir que caibam na linha */
.w-col-4 {
  flex: 0 0 33.3333%; /* Cada coluna ocupa 1/3 do contêiner */
}
  
  